#urlbar-container {
	transform: translateY(0);
	position: relative;
	z-index: 10;
	padding-block: 0px !important;
	padding-inline: 0px !important;
	margin-inline: 0px !important;
}

#nav-bar-customization-target {
	overflow: visible !important;
}

#urlbar-results {
	max-width: 100% !important;
}

.urlbarView {
	top: calc(100% - 5px) !important;
	width: 100% !important;
}

:root[uidensity="compact"] .urlbarView {
	margin-top: 2px !important;
}

:root[uidensity="touch"] .urlbarView {
	margin-top: 1px !important;
}

#urlbar[open] {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.urlbarView-row {
	padding: 6px 0px !important;
}


@supports (backdrop-filter: blur(1px)) {
    .urlbarView {
        background: #0C0C0DC0 !important;
        backdrop-filter: blur(28px) !important;
    }
}
/* Get rid of blue border around urlbar */
#urlbar:not(.megabar):-moz-lwtheme, #urlbar.megabar:-moz-lwtheme > #urlbar-background, 
#navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme {
  	border: none !important;
}
/* Text in the middle of the URL bar */
#urlbar #urlbar-input {
text-align: center !important;
}
/*
 * Auto-hide the URL-bar show on hover or focus
 * as seen in https://www.reddit.com/r/FirefoxCSS/comments/boetx7/annoying_page_jump_with_address_bar_autohide/engne27/
 * by https://www.reddit.com/user/SkyrimForTheDragons/
 *
 * slightly modified for more responsiveness
 * 
 * Note that this version DOES NOT hide the bookmarks toolbar!
 */
#nav-bar:not([customizing="true"]):not([inFullscreen]) {
	min-height: 1px !important;
	max-height: 0px !important;
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	transition: all 50ms linear 0s !important;
	z-index: -5 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
	min-height: 32px !important;
	max-height: 32px !important;
	margin-top: 1px !important;
	margin-bottom: -32px !important;
	transition: all 50ms linear 0s !important;
	z-index: 5 !important;
}

/* Needed for for FF 75 megabar */
#urlbar {
	--urlbar-toolbar-height: 32px !important;
}



/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}



/*
 * Style your tabs similar to Googles "Material Design" guidelines.
 *
 * This includes a transparent background and a white line at the bottom
 * instead of a blue line at the top.
 *
 * Contributor(s): Madis0
 */

.tabbrowser-tab[visuallyselected="true"] {
  color: inherit !important; /* Use background tab text color for foreground tabs */
}

.tab-background[selected=true] {
  background-color: transparent !important; /* Make selected tab bg transparent */
}

.tab-line {
  -moz-box-ordinal-group: 2; /* Move the line to the bottom */
}

.tab-line[selected=true] {
  background-color: white !important; /* Make the line white, remove this for default color */
}

/*
 * Removes the side borders from active and inactive tabs.
 *
 * Contributor(s): Madis0
 */
 
.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important; /* Remove borders from inactive tabs */
}

:root {
  --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
}



/* 
* Makes tabs only 22px high rather than the default 29px
* Only works on compact mode, otherwise tab height will be normal
*
* Contributor(s): DrPugsley
*/

[uidensity="compact"]:root {
  --tab-min-height: 22px !important;
  --newtab-margin: -3px 0 -3px -3px !important;
}

:root[uidensity="compact"] #tabbrowser-tabs {
  --tab-min-height: var(--tab-min-height) !important;
}

.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
}

.tabs-newtab-button{
  margin: var(--newtab-margin) !important;
}


/*
 * Remove "Send Page to Device", "Send Link to Device", 
 * "Send Tab to Device" from context menu.
 *
 * Contributor(s): PilzAdam
 */

#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}